langchain
langchain-community
langchain-openai
langchain-core
sqlalchemy
python-dotenv
fastapi
psycopg2-binary
pgvector
uvicorn
pypdf
unstructured
markdown
networkx
pandas
openpyxl
docx2txt
pypandoc
PyJWT
asyncpg
python-multipart
aiofiles
rapidocr-onnxruntime
opencv-python-headless
pymongo
langchain-mongodb
cryptography
python-magic
python-pptx
xlrd
langchain-aws
boto3
